body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}
header{
    margin-bottom: 60px;
    z-index: 1000;
    
}
section.A{
    height: auto;
    padding-top: 40px;
    padding-left: 8vw;
    padding-right: 8vw;
    
}
.blur1{
/* Ellipse 1 */

position: absolute;
width: 465px;
height: 400px;
left: -166px;
top: 60px;

background: rgba(64, 70, 255, 0.35);
filter: blur(155px);
z-index: -10;

}
.blur2{
    /* Ellipse 2 */

position: absolute;
width: 305px;
height: 465px;
right: 20px;
top: -45px;

background: rgba(64, 70, 255, 0.35);
filter: blur(150px);
z-index: -10;
}




.navbar-brand{
    padding-left: 30px;
}
.navbar{
  
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 4px 36px -17px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
    z-index: 1000;
}
.nav-item{
    padding-right: 40px;

}
.navbar-nav a.nav1 {
    color: blue;
    font-weight:500;
    font-size: small;
}
.navbar-nav a{
    color: rgb(163, 161, 161);
    font-weight: 500;
    font-size: small;
}
.navbar-nav a:hover{
    color: blue;
    font-weight: 500;
    font-size: small;
}
.collapses{
      
}
.illustration{
    z-index: 999;
}


.talk{   
    color: white;
    background-color: #4046FF;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
    border: none;
    padding: 8px 17px ;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    margin-right: 25px;
}
.talk:hover{
    background-color: rgb(53, 53, 163);
    transition: 0.3s ease-in-out;
}
.talked{   
    color: rgb(99, 97, 97);
    background-color: rgb(251, 251, 255);
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
    border: none;
    padding: 8px 17px ;;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    border: 2px solid rgb(158, 158, 158);

}
.talked:hover{
    background-color: rgb(53, 53, 163);
    transition: 0.3s ease-in-out;
    color: white;
    border:2px solid rgb(53, 53, 163);
}
span.paragraph{
    display: inline-block;
    width: 60px;
}

span.line{
    width: 25px;
    height: 2px;
    border-top: 2px solid rgb(236, 66, 66);
    display: inline-block;
    margin-bottom: 2px;
}
.intro1{
    font-size: smaller;
    color: rgb(100, 98, 98);

}
.intro2{
    font-size: 48px;
    line-height: 50px;
    font-weight:600;
    font-family: 'Times New Roman', Times, serif;
}
.intro3{

}
.vec-before{
    position: absolute;
    
}
.vec-before2{
    position: relative;
    bottom: 17px;
    right: 40px;
}
.intro3{
    font-weight: lighter;
    color: rgb(83, 80, 80);
    margin: 10px 0px;
    font-size: 14px;

}
.bluebuisness{
    color: #4046FF;
}
.redsuccess{
    color: rgb(221, 74, 74);
}
.btn1{
    color: white;
    background-color: #4046FF;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
    border: none;
    padding: 8px 17px ;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    margin-top:12px ;
    margin-bottom: 20px;
}
.btn1:hover{
    background-color: rgb(53, 53, 163);
    transition: 0.3s ease-in-out;
}
.hundred{
    font-size: 40px;
    min-width: 100%;
    font-weight:600;
}
.hundred2{
    font-size: 40px;
    min-width: 100%;
    font-weight: 600;
}
.proof{
    min-width: 100%;
    font-size: 15px;
    position: relative;
    color: rgb(85, 85, 85);

}
.above{
    position: absolute;
    top: -80%
}

.meeting-02{
    max-width: 450px;
    max-height: 450px;
    border-radius: 10px;
}
.trust{
    font-size: larger;
    font-weight: bold;
    color: #A1A1AA;
}

section.B{
    padding-left: 1vw;
    margin-top: 4vw;
    background-color: rgb(255, 255, 255);
}
span.line2{
    width: 15px;
    height: 2px;
    border-top: 2px solid  rgb(53, 53, 163);
    display: inline-block;
    margin-bottom: 0px;
}
h5{
    display: inline;
    color:#4046FF;
}
h6.ex{
    font-weight: bolder;
}
.spec{
    
    color:#4046FF;
    font-size: 20px;
    font-weight: bold;
}
section.C{
    margin-left:15vw ;
    margin-right:15vw;
    margin-top: 4vw;
    background-color: rgb(255, 255, 255);
    
}
h3.gap{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
}
h3.why-choose{
    font-size: 40px;
    font-weight: bold;
}
h3.discover{
    font-size: 48px;
}

h5{
    font-size: small;
}
h4.biz-dev{
    color: black;
    font-size: 24px;
    font-weight: bold;
}
h5.have-to-say{
    font-size: 36px;
    font-weight: bold;
}
a.what-we-do1{
    text-decoration: none;
    color: rgb(138, 137, 137);
    font-weight:bold;
    font-size: 16px;
}
a.what-we-do{
    color:#4046FF;
    font-weight: bolder;
    font-size: 16px;

}
a.in-touch{
    color: #4046FF;
    
}
.meeting{
    
    border-radius: 10px;
}
section.D{
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 4vw;

}
section.E{
    margin-left: 6vw;
    margin-right: 6vw;
}

.get-in-touch{
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    
}
a.in-touch{
    text-decoration: none;

}

.experienced{
    border-left:4px solid #4046FF;
    padding-left: 8px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.meeting2{
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    
    
}
.meeting3{
    max-width: 80%;
    max-height: 80%;
    display: none;
    border-radius: 10px;
}
section.E{
    margin-top: 0px;
}
button.accordion-button{
background-color: rgba(233, 233, 233, 0.911);  
font-size: small;  
    font-weight: bold;
    color: rgb(68, 67, 67);
    height: 35px;
}

button.accordion-button:not(.collapsed){
    background: rgb(255, 255, 255);
    color: blue;
    margin-bottom: 0px;
   
    font-size: small;
    height: 35px;
    outline: none;
    border-top: 1px solid rgb(222, 233, 222); 
}
button.accordion-button:focus{
    border-top: 1px solid rgb(222, 233, 222); 
    outline: none;
}
.accordion-collapse{
    background-color: rgb(233, 228, 228);
    outline: none;

    
}
.accordion{
    border: none;
    box-shadow: 2px 0px 4px 0px rgb(233, 233, 233);
}

.interested-in-scaling{
    background-color:white;

}
footer{
    background-color:rgba(223, 222, 222, 0.623);
}


.mud * a{
    color: rgb(44, 44, 44);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
   
    font-size: 14px;
    color: #000120;
}
.mud{
    line-height: 20px;
}
.explore{
    font-weight: 550;
    line-height: 40px;
}
.follow-us{
    padding-top:6px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
.social-logo1{
    padding-right: 30px;

}
.form-control1{
    width: 67%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid rgba(115, 115, 115, 0.858); 
}
.form-control1:focus {
    outline: none !important;
    box-shadow: none;
}

.email-for-deals{
    background-color: rgb(255, 255, 255);
    width: 311px;
    border: 2px solid rgb(104, 104, 224);
    padding-left: 10px;
    border-radius: 5px;
    height: 36px;
}
.email-for-deals::placeholder{
    color: rgb(141, 140, 140);
    font-size: small;
}
.subscription-button{
    color: white;
    width: 110px;
    background-color:#4046FF;
    border-radius: 5px;
    padding: 8px 24px 8px 24px;
    border: none;
    transition: 0.5s ease-in-out;
    height: 36px;
}
.subscription-button:hover{
    
    color: white;
    background-color:  rgb(53, 53, 163);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.sub-news{
    position: relative;
    top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.copyright{
    border-top: 1px solid rgb(177, 175, 175);
}








@media screen and (max-width: 887px) {
    

}
@media screen and (max-width: 991px) {
    
    .collapse{
        padding-left: 0px;
        padding-right: 0px;  
    }
    .navbar-brand{
        padding-left: 0px;
    }
    .talk{   
        color: white;
        background-color: blue;
        border-radius: 5px;
        font-size: small;
        font-weight: 600;
        border: none;
        padding: 10px 25px ;
        font-family:Arial, Helvetica, sans-serif;
        transition: 0.5s ease-in-out;
        
    }
    .logo3{
        width: 30%;
    }
    .trust{
        
        
        line-height: 70px;
    }
    section.A{
    
       
        padding-bottom: 70px;
    }
    

}
@media screen and (min-width: 1500px) {

    
    section.A{
    
       
        height: auto;
        padding-top: 40px;
        padding-left: 8vw;
        padding-right: 8vw;
    }
    
    .calm{
        margin-right: 10vw;
    }
    
    section.C{
        margin-left:25vw ;
        margin-right:25vw;
    }
    .meeting2{
        max-width: 60%;
        max-height: 80%;
        
    }

}
@media screen and (min-width: 2000px) {
    
    .calm{
        margin-right: 19vw;
    }

}
@media screen and (max-width: 767px) {
    section.B{
      display: none;
    }
    
    .meeting2{
        max-width: 80%;
        max-height: 80%;
        display: none;
    }
    .meeting3{
        max-width: 80%;
        max-height: 80%;
        display: block;
        margin-left: 60px;
        
    }
}